* {
  margin: 0;
  padding: 0;
  border: 0;
}

h1 {
  font-family: 'Ranga', cursive;
  font-family: 'Eagle Lake', cursive;
  text-align: center;
  font-size: 300%;
  color: #000000;
  letter-spacing: 1%;
  margin: 45% 0;
  background-color: #FFFFFF;
  opacity: .7;
}

h2 {
  font-family: 'Ranga', cursive;
  font-family: 'Eagle Lake', cursive;
  text-align: center;
  color: #000000;
  letter-spacing: 1%;
  margin: 35% 0;
  background-color: #FFFFFF;
  opacity: .7;
}

p {
  font-family: 'Ranga', cursive;
  text-align: center;
  font-size: 150%;
  color: #000000;
  letter-spacing: 1%;
  background-color: #FFFFFF;
  opacity: .7;
}

/* START PARALLAX /*/
.about {
  background: url("img/dorms.jpg") repeat fixed 100%;
  background-size: cover;
}

.parallax-inner {
  padding-top: 10%;
  padding-bottom: 10%;
}

.survey {
  font-family: 'Ranga', cursive;
  font-size: 300%
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  background-color: #FFFFFF;
  opacity: .7;
}

.head {
  background: url("img/dininghouse.jpg") repeat fixed 100%;
  background-size: cover;
}

.other {
  background: url("img/leatherback.jpeg") repeat fixed 100%;
  background-size: cover;
}

.contact {
  background: url("img/margo.jpg") repeat fixed 100%;
  background-size: cover;
}
/* END PARALLAX /*/

/* Parallax Navigation /*/
nav.page-navigation {
    font-family: 'Ranga', cursive;
    align-items: center;
    width: 50px;
    background-color: #FFFFFF;
    position: fixed;
    top:10%;
    left:0;
}
nav.page-navigation li {
    width: 100%;
}
nav.page-navigation a {
    padding: 0.6em 10%;
    width: 80%;
}
/* End Parallax Navigation /*/

div.dropdown {
  font-size: 300%;
  font-family: 'Ranga', cursive;
   z-index: 5;
   background-color: #FFFFFF;
   opacity: .7;
}

div.item {
  display: none;
  padding: 3;
  background-color: #FFFFFF;
  opacity: .7;

}

.item a {

}

.dropdown:hover .item {
    display: block;
}
